.btn {
    width: 420px;
    margin: 30px 40px;
    padding: 10px 0;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgba(84,217,159,1);
    border: 2px solid rgb(84,217,159);
}

.btn:hover {
    transform: none;
    border: 2px solid rgb(26, 93, 80);
}