.toolbar {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.toolbar input {
    width: 700px;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 40px;
    background-color: #fafafa;
    border: none;
}

.toolbar input:focus {
    border: none;
    outline: none;
}

.toolbar button {
    background: none;
    border: none;
    cursor: pointer;
}

.toolbar button svg{
    color: #ffffff;
    font-size: 30px;
}

.toolbar button:hover svg {
    transform: scale(1.1);
    color: rgb(38,196,165);
}

@media (max-width: 940px) {
    .toolbar {
        padding: 20px;
    }    
    .toolbar input {
        margin: 0 20px;
    }
}

@media (max-width: 815px) {
    .toolbar {
        padding: 20px 10px;
    } 
    .toolbar input {
        width: 75%;
        margin: 0 10px;
    }
}