.task {
    background-color: #ffffff;
    width: 700px;
    border-radius: 30px;
    padding: 30px 50px;
    margin-bottom: 15px;
}

.completed {
    filter: brightness(.90);
}

h2 {
    font-size: 35px;
    line-height: 45px;
}

.first_line, .last_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_line svg {
    font-size: 30px;
}


.baixa {
    color: rgb(24, 238, 49);
}

.media {
    color: rgb(255, 209, 27);
}

.alta {
    color: rgb(255, 77, 50)
}

.category {
    font-size: 22px;
    line-height: 30px;
    margin: 8px 0;
}

.description {
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.last_line {
    margin-top: 10px
}

.last_line p {
    font-size: 22px;
    line-height: 30px;
}

.first_line button, .last_line button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.last_line button svg{
    font-size: 30px;
}

.last_line button:hover svg {
    color: rgb(38,196,165);
    transform: scale(1.1);
}


@media (max-width: 900px) {
    .task {
        width: 550px;
        padding: 20px 40px;
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .task {
        width: 95%;
        padding: 15px 30px;
    }
    .task h2 {
        font-size: 25px;
    }
}

@media (max-width: 340px) {
    .last_line button svg{
        font-size: 25px;
    }
    .last_line p {
        font-size: 18px;
    }
}